.DS_Store
*~
*.pyc
.sass-cache
.idea/.name
.idea/encodings.xml
.idea/misc.xml
.idea/modules.xml
.idea/pizza.iml
.idea/scopes/scope_settings.xml
.idea/vcs.xml
.idea/workspace.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/slice.iml
.idea/compiler.xml
.idea/copyright/profiles_settings.xml
