.za{
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;
    float: left;
    position: relative;
    left: -10px;
    top: 12px;
}
.navbar-brand{
    font-family: 'Oswald', sans-serif !important;
    text-transform: uppercase;
    letter-spacing: 2px;
}